{% extends 'base.html' %}
{% block title %}
    <h1>Criar Reporter</h1>
{% endblock title %}
{% block content %}
    <form id ='reporter' action="{% url 'relacionamentos:reporter_function_create' %}" method="post" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-success btn-lg" form="reporter" value="Salvar" >
                Salvar
        </button>
        <button type="reset" class="btn btn-outline-danger btn-lg" form="reporter" value="Limpar" >
                Limpar
        </button>
        <a class="btn btn-outline-light btn-lg" role="button" href="{% url 'relacionamentos:reporter_function_list' %}" >
            <i>Voltar</i>
        </a>
    </form>
{% endblock content %}