{%  extends 'base.html' %}


{% block title  %}

    {% if reporters  %}
        <h1>Lista de exemplos</h1>
    {% else  %}
        <h1>Nenhum reporters cadastrado</h1>
    {% endif %}
{% endblock title %}

{% block content %}

{% if reporters %}

<table class="table table-hover" >
    <thead>
    <th>#</th>
    <th>Codigo</th>
    <th>Nome</th>
    </thead>
    <tbody>
    {% for reporter in reporters %}
    <tr>
        <td>{{ reporter.id}}</td>
        <td>{{ reporter.cpf}}</td>
        <td>{{ reporter.email }}</td>
        <td>
             <div>
        <a class="btn btn-outline-secondary btn-lg" role="button"
           data-bs-toggle="tooltip" data-bs-placement="top" title="Detalhar com Funções"
           href="{% url 'relacionamentos:reporter_function_detail' reporter.id %}" >
            <i class="bi bi-card-list" ></i>
        </a>
    </div>
        </td>
        <td>
            <div>
                Botoes de classe aqio
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif  %}


{% endblock content %}