{% extends 'base.html' %}
{% block title %}
    <h1>Formulário de contato</h1>
{% endblock title %}
{% block content %}
    <form id="contato" action="{% url url_form %}" method="post" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class ='btn btn-outline-sucess btn-lg'
        form="contato" value="Enviar"> <i class="bi bi-send" ></i>
            Enviar</button>

        <button type="reset" class="btn btn-outline-danger btn-lg" form="contato" value="Reset" >
            <i class="bi bi-arrow-clockwise" > </i>
            Limpar
        </button>
    </form>
{% endblock content %}